a:link {
    text-decoration: none;    
}

.link {
    color:rgb(30, 33, 33);
}

.link:hover {
    color: #84953c;
}

#pagina {
    background-image: url("../../assets/images/imagemLogin2.jpg");
    background-size: 100vw;   
    
}
